body{
    background: #f8f9fa;
}

.mainframe{
    width: 90vw;
    display: flex;
    justify-content: center;
}

#menu .dropdown-item:focus, .dropdown-item:hover {
    color: #051937 !important;
    text-decoration: none;
    background-color: #dee2e6;
}

#menu .dropdown-item:active {
    color: #051937 !important;
    text-decoration: none;
    background-color: #BEE5EB;
}

.invoice-list-1-th{
    display: block;
    position: relative;
    top:50%;
    transform:translateY(-50%);
}


@media(max-width:576px){
    #invoiceList .invoice-list-1-th, .text-07, .btn{
        font-size: 0.7rem;
    }
}

#invoiceList a:hover{
    color: #dc3545;
    text-decoration: none;
    background-color: lightgoldenrodyellow;
}

#invoiceList a{
    color: #acacac;
}

#invoiceList .page-link:hover{
    background-color: powderblue;
}

.errmsg{
    color: darkred;
    font-size: 0.7rem;
}